In [1]:
import pandas as pd

In [50]:
t = []
for sheet in [0,1,2]:
    df = pd.read_excel("Experiment coding.xlsx",sheetname=sheet,nrows=8)
    df = df[[_ for _ in df.columns if _[0] == "p"]]
    t.append(df.sum(1))
    
t2 = []
for sheet in [3,4,5]:
    df = pd.read_excel("Experiment coding.xlsx",sheetname=sheet,nrows=8)
    df = df[[_ for _ in df.columns if _[0] == "p"]]
    t2.append(df.sum(1))

In [52]:
df = pd.DataFrame(t)
df.head()

,participant 11,participant 12,participant 21,participant 22,participant 31,participant 32,participant 41,participant 42,participant 51,participant 52
0,6,6,5,5,5,5,4,3,4,4
1,8,7,7,8,5,5,5,5,5,5
2,10,8,4,6,6,4,5,4,5,3

In [54]:
df = pd.DataFrame(t2)
df.head()

,participant 11,participant 12,participant 21,participant 22,participant 31,participant 32,participant 41,participant 42,participant 51,participant 52
0,14,14,14,10,11,11,9,9,8,8
1,16,16,14,12,11,11,7,8,5,5
2,21,18,12,7,7,7,8,8,7,9